<header class="header header-custom">
  <div class="container">
     <nav class="sub-nav">
       <h4 class="logo">{{#link 'help_center'}}InfoSuite Tips &amp; Tricks{{/link}}</h4>
       <div class="nav-wrapper">
        {{#if alternative_locales}}
            <div class="dropdown language-selector">
              <button class="dropdown-toggle" aria-haspopup="true">
                {{current_locale.name}}
              </button>
              <span class="dropdown-menu dropdown-menu-end" role="menu">
                {{#each alternative_locales}}
                  <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                    {{name}}
                  </a>
                {{/each}}
              </span>
            </div>
          {{/if}}
      </div>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </nav>
  </div>
</header>