<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
         {{#isnt id 360000366837}} <!-- Push 10.2 -->
         {{#isnt id 360003363697}} <!-- Push 10.3 -->
         {{#isnt id 360003363717}} <!-- Push 10.4 -->
         {{#isnt id 4403412230545}} <!-- Push 10.5 -->
         {{#isnt id 4416143647633}} <!-- Push 10.6 -->
         {{#isnt id 6295563836561}} <!-- Push 10.7 -->
         {{#isnt id 6675182310557}} <!-- Push 10.8 -->
         {{#isnt id 8919037136029}} <!-- Push 10.9 -->
         {{#isnt id 10861306667421}} <!-- Push 11.0 -->
         
            <li class="blocks-item">
              {{#is id 360000456938}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'get_started.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463917}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'filter_group.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463897}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'budget.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463937}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'charts.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457058}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'inspiration.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463997}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'modules.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457038}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'administration.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463957}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'kpi_smartart.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463877}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'format.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463857}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'template.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463837}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'news.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000456998}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'dashboard.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000456958}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'core_functions.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463977}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'maildistribution.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457018}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'web_mobile.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}
          {{/each}}
              </a>
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
              {{/isnt}}
            </li>
      		
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link test">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                  {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}
          {{/each}}
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

</div>
