<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
         {{#isnt id 360000366837}}
            <li class="blocks-item">
              {{#is id 360000456938}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'home.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463917}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'filter_and_sort.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463897}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'spreadsheed_chart.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463937}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'Pie.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457058}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'book_bookmark.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463997}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'bell.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457038}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'gearwheels.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463957}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'chart_area.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463877}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'new.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463857}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'code.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463837}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'earth.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000456998}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'gauge.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000456958}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'toolbox.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000463977}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'server_mail.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              {{#is id 360000457018}}
              <a href='{{url}}' class="blocks-item-link">
                <img src='{{asset 'mobilephone3.svg'}}' style='width: 40px; height: 40px;'/>
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}

          {{/each}}
              </a>
              {{else}}
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
                {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}
          {{/each}}
              </a>
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/is}}
              {{/isnt}}
            </li>
      		
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link test">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                  {{#each sections}}
              {{#if articles}}      
               <div class="block-article-count"><em>{{t 'show_all_articles' count=article_count}}</em></div>
              {{else}}
                <i class="section-empty">
                  {{t 'empty'}}
                </i>
              {{/if}}
          {{/each}}
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

</div>
